services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    env_file: .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    restart: always
  wordpress:
    depends_on:
      - mariadb
    build: ./requirements/wordpress
    container_name: wordpress
    env_file: .env
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html
    restart: always
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    env_file: .env
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html
    ports:
      - 443:443
    restart: always
  adminer:
    build: ./requirements/bonus/adminer
    container_name: adminer
    env_file: .env
    networks:
      - inception
    restart: always
  netdata:
    build: ./requirements/bonus/netdata
    container_name: netdata
    networks:
      - inception
    restart: always
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
  static-website:
    build: ./requirements/bonus/website
    container_name: website
    networks:
      - inception
    restart: always
  redis-cache:
    build: ./requirements/bonus/redis
    container_name: redis-cache
    networks:
      - inception
    restart: always
  ftp-server:
    build: ./requirements/bonus/ftp
    container_name: ftp-server
    networks:
      - inception
    ports:
      - "21:21"
      - "21000-21010:21000-21010"
      - "20:20"
    env_file: .env
    volumes:
      - wordpress_data:/var/www/html
    restart: always

networks:
  inception:
    driver: bridge

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/admin/data/mariadb
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/admin/data/wordpress